.tooltip {
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #eee;

  p {
    margin: 0;
  }
}

.tooltipLabel {
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.tooltipOptions {
  display: grid;
  row-gap: 4px;
  margin-top: 8px;
  width: 200px;
}

.tooltipOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltipOption span,
.tooltipOptionLabel {
  font-weight: 600;
  font-size: 14px;
}

.tooltipOptionLabel {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tooltipOptionIcon {
  width: 16px;
  height: 16px;
}
